@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
}

.color-primary {
  color: #2955c8;
}

.bg-primary {
  background-color: #2955c8;
}

.bg-primary-dark {
  background-color: #20439e;
}

.bg-primary-light {
  background-color: #4a72da;
}

.bg-primary-lightest {
  background-color: #b4c4f0;
}

.color-secondary {
  color: #6c757d;
}

.bg-secondary {
  background-color: #6c757d;
}

.bg-secondary-dark {
  background-color: #545b62;
}

.bg-secondary-light {
  background-color: #868e96;
}

.bg-secondary-lightest {
  background-color: #caced1;
}

.color-success {
  color: #3ac47d;
}

.bg-success {
  background-color: #3ac47d;
}

.bg-success-dark {
  background-color: #2e9d64;
}

.bg-success-light {
  background-color: #61d097;
}

.bg-success-lightest {
  background-color: #c3edd8;
}

.color-info {
  color: #16aaff;
}

.bg-info {
  background-color: #16aaff;
}

.bg-info-dark {
  background-color: #0090e2;
}

.bg-info-light {
  background-color: #49bdff;
}

.bg-info-lightest {
  background-color: #c9ebff;
}

.color-warning {
  color: #f7b924;
}

.bg-warning {
  background-color: #f7b924;
}

.bg-warning-dark {
  background-color: #e0a008;
}

.bg-warning-light {
  background-color: #f9c955;
}

.bg-warning-lightest {
  background-color: #fdf0d0;
}

.color-danger {
  color: #d92550;
}

.bg-danger {
  background-color: #d92550;
}

.bg-danger-dark {
  background-color: #ad1e40;
}

.bg-danger-light {
  background-color: #e15073;
}

.bg-danger-lightest {
  background-color: #f4bdca;
}

.color-focus {
  color: #444054;
}

.bg-focus {
  background-color: #444054;
}

.bg-focus-dark {
  background-color: #2d2a37;
}

.bg-focus-light {
  background-color: #5b5671;
}

.bg-focus-lightest {
  background-color: #9c97b0;
}

.color-alt {
  color: #794cba;
}

.bg-alt {
  background-color: #794cba;
}

.bg-alt-dark {
  background-color: #613b98;
}

.bg-alt-light {
  background-color: #9571c8;
}

.bg-alt-lightest {
  background-color: #d9cdec;
}

.color-light {
  color: #eeeeee;
}

.bg-light {
  background-color: #eeeeee;
}

.bg-light-dark {
  background-color: #d5d5d5;
}

.bg-light-light {
  background-color: white;
}

.bg-light-lightest {
  background-color: white;
}

.color-dark {
  color: #343a40;
}

.bg-dark {
  background-color: #343a40;
}

.bg-dark-dark {
  background-color: #1d2124;
}

.bg-dark-light {
  background-color: #4b545c;
}

.bg-dark-lightest {
  background-color: #88939e;
}

.color-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-white-dark {
  background-color: #e6e6e6;
}

.bg-white-light {
  background-color: white;
}

.bg-white-lightest {
  background-color: white;
}

.color-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.bg-black-dark {
  background-color: black;
}

.bg-black-light {
  background-color: #1a1a1a;
}

.bg-black-lightest {
  background-color: #595959;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f4f6;
  margin: 0 auto;
  color: #555f78;
}

button {
  cursor: pointer;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

h4 {
  font-size: 1.4rem;
  font-weight: 400;
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
}

p {
  font-size: 1.3rem;
  font-weight: 400;
}

.text-muted {
  color: #a4a8ac;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.no-gap {
  gap: 0;
}

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #fafbfc;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
header img {
  display: none;
}
header .header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
header .header-left .search-bar {
  margin-left: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-left .search-bar input {
  position: relative;
  padding: 2rem;
  width: 4rem;
  height: 4rem;
  background-color: #eeeeee;
  color: #6c757d;
  border-radius: 50%;
  transition: all 0.6s ease;
}
header .header-left .search-bar input::-moz-placeholder {
  color: transparent;
}
header .header-left .search-bar input::placeholder {
  color: transparent;
}
header .header-left .search-bar input:focus {
  width: 20rem;
  border-radius: 5rem;
}
header .header-left .search-bar input:focus + label {
  right: 0;
  transform: scaleX(1);
}
header .header-left .search-bar input:focus::-moz-placeholder {
  color: #a4a8ac;
}
header .header-left .search-bar input:focus::placeholder {
  color: #a4a8ac;
}
header .header-left .search-bar label {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedede;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: #2955c8;
  transition: all 0.01s ease;
  transform: scaleX(-1);
}
header .header-left .search-bar label span {
  font-size: 2.5rem;
  font-weight: 600;
}
header .header-left .header-left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .header-left .header-left-nav a {
  display: flex;
  align-items: center;
  color: #555f78;
  opacity: 0.85;
  font-weight: 300;
  font-size: 1.3rem;
}
header .header-left .header-left-nav a span:first-child {
  color: #2955c8;
  font-size: 1.8rem;
  opacity: 0.7;
  margin-right: 0.5rem;
}
header .header-left .header-left-nav a:hover {
  opacity: 1;
}
header .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
header .header-right > *:not(:last-child) {
  border-right: 1px solid #dedede;
}
header .header-right .header-right_nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .header-right .header-right_nav button {
  opacity: 0.9;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
}
header .header-right .header-right_nav button:last-child {
  margin-right: 2rem;
}
header .header-right .header-right_nav button:hover {
  opacity: 1;
}
header .header-right .header-right_nav button:focus {
  filter: brightness(90%);
}
header .header-right .header-right_nav button span {
  font-size: 2.5rem;
}
header .header-right .profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .header-right .profile img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
header .header-right .profile span {
  font-size: 2rem;
  opacity: 0.5;
  margin-right: 2rem;
}
header .header-right .menu a {
  color: #555f78;
  opacity: 1;
}
header .header-right .menu a span {
  font-size: 3rem;
}
header .header-right .menu a:hover {
  opacity: 0.8;
}

.container {
  padding: 0 3rem;
  margin: 0 auto;
}

.analytics-dash {
  width: 100%;
  padding: 8rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.analytics-dash .left-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.analytics-dash .left-side span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aqua;
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 0.35rem;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
.analytics-dash .left-side .text-box {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  justify-content: space-between;
}
.analytics-dash .right-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.analytics-dash .right-side button {
  padding: 1rem 1.5rem;
  border-radius: 0.35rem;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  color: #fff;
  text-align: center;
}
.analytics-dash .right-side button > * {
  font-size: 1.4rem;
  color: #fff;
}

.cards {
  width: 100%;
}
.cards .row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 2rem;
}
.cards .row .card {
  background-color: #fff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-radius: 0.35rem;
  width: 100%;
  padding: 1rem;
}
.cards .row .card > *:not(:last-child) {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #dedede;
}
.cards .portfolio-performance .card-top {
  margin: 0 1rem;
}
.cards .portfolio-performance .card-top button {
  padding: 1rem 2rem;
  border: 1px solid #000;
}
.cards .portfolio-performance .card-top button:hover {
  background-color: #343a40;
  color: #fff;
}
.cards .portfolio-performance .performance {
  flex-wrap: wrap;
  padding: 1rem 0;
  flex-grow: 1;
  gap: 2rem;
}
.cards .portfolio-performance .performance > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.cards .portfolio-performance .performance .text-box {
  line-height: 2.5rem;
}
.cards .portfolio-performance .performance .text-box h2 {
  font-size: 4rem;
  font-weight: 700;
}
.cards .portfolio-performance .performance .text-box p {
  gap: 0.2rem;
}
.cards .portfolio-performance .card-bottom {
  padding: 1rem 0;
}
.cards .portfolio-performance .card-bottom button {
  padding: 1rem 3.5rem;
  border-radius: 5rem;
}
.cards .portfolio-performance .card-bottom button:hover {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
.cards .technical-support .line-chart {
  width: 100%;
  height: 20rem;
  margin: 1rem 0;
  background-color: aqua;
}
.cards .technical-support .card-bottom .text-box h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.cards .technical-support .card-bottom h2 {
  font-size: 3rem;
  font-weight: 700;
}
.cards .technical-support .card-bottom .progress-bar {
  position: relative;
  width: 100%;
  height: 1rem;
  border-radius: 5rem;
  overflow: hidden;
  background-color: #dedede;
}
.cards .technical-support .card-bottom .progress-bar .progress {
  position: absolute;
  width: 45%;
  height: 100%;
  border-radius: 5rem;
  background-color: #2955c8;
}
.cards .timeline-example .card-main {
  width: 100%;
  height: 30rem;
}
.cards .timeline-example .card-main .timeline {
  position: relative;
  margin: 0 2rem;
  padding: 1rem 2rem;
  border-left: 5px solid #dedede;
  gap: 2rem;
  overflow-y: scroll;
  overflow-x: visible;
}
.cards .timeline-example .card-main .timeline::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.cards .timeline-example .card-main .timeline::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #dedede;
}
.cards .timeline-example .card-main .timeline p {
  letter-spacing: -0.05rem;
  text-align: center;
  font-size: 1.4rem;
}
.cards .timeline-example .card-main .timeline p span:first-child {
  overflow: visible;
  position: absolute;
  left: -8px;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid;
}
.cards .timeline-example .card-main .timeline p span:last-child {
  font-weight: 700;
}
.cards .timeline-example .card-bottom {
  padding: 1rem 0;
}
.cards .timeline-example .card-bottom button {
  padding: 1.5rem 3.5rem;
  border-radius: 5rem;
}
.cards .timeline-example .card-bottom button:hover {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
.cards .sales-chart {
  border-bottom: 0.5rem solid;
  width: 100%;
}
.cards .sales-chart .text-box {
  padding: 3rem;
}
.cards .sales-chart .text-box h2 {
  color: #555f78;
  font-size: 2.8rem;
  font-weight: 500;
}
.cards .sales-chart .text-box h2 span {
  font-size: 2.2rem;
  font-weight: 400;
}
.cards .sales-chart img {
  width: 100%;
}
.cards .dynamic-table .buttons {
  gap: 0;
}
.cards .dynamic-table .buttons > * {
  color: #fff;
  padding: 1rem;
  border: none !important;
  border-radius: none !important;
}
.cards .dynamic-table .buttons > *:hover {
  background-color: #484848;
}
.cards .dynamic-table .buttons button:first-child {
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}
.cards .dynamic-table .buttons button:last-child {
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}
.cards .dynamic-table .search-text {
  padding: 1rem 0;
}
.cards .dynamic-table .search-text label {
  font-size: 1.6rem;
}
.cards .dynamic-table .search-text input {
  padding: 1rem;
  width: 20rem;
  height: 4rem;
  border-radius: 0.35rem;
  outline: 1px solid #dedede;
}
.cards .dynamic-table .search-text input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.cards .dynamic-table table {
  width: 100%;
  text-align: left;
  padding: 2rem;
  border-collapse: collapse;
}
.cards .dynamic-table table th,
.cards .dynamic-table table td {
  font-size: 1.4rem;
  padding: 1rem;
  border-bottom: 1px solid #dedede;
}
.cards .dynamic-table table tr:nth-child(even) {
  background-color: #eeeeee;
}
.cards .dynamic-table table tr > th:first-child,
.cards .dynamic-table table td:first-child {
  width: 10rem;
  text-align: center;
  font-weight: 800;
}
.cards .dynamic-table .card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .dynamic-table .card-bottom .pagination {
  padding: 1rem;
  gap: 0;
}
.cards .dynamic-table .card-bottom .pagination button {
  border: 1px solid #dedede;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  margin: 0;
  border: 1px solid #dedede;
  transition: all 0.3s ease;
}
.cards .dynamic-table .card-bottom .pagination button:hover {
  background-color: #dedede;
}
.cards .dynamic-table .card-bottom .pagination .active {
  background-color: #2955c8;
  color: #fff;
  border: 1px solid #2955c8;
}
.cards .dynamic-table .card-bottom .pagination .active:hover {
  background-color: #2955c8;
}
.cards .dynamic-table .card-bottom a {
  cursor: default;
  padding: 1rem 2rem;
  border: 1px solid #dedede;
  border-radius: 0.35rem;
}
.cards .dynamic-table .card-bottom a:active {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
.cards .task-list .left {
  position: relative;
}
.cards .task-list .left .indicator {
  position: absolute;
  border-radius: 2rem;
  width: 5px;
  height: 100%;
}
.cards .task-list .left .profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cards .task-list .left .profile img {
  width: 4rem;
  height: 4rem;
  border-radius: 0.35rem;
}
.cards .task-list .left input {
  margin: 0 2rem;
}
.cards .task-list .left .text-box h3 {
  font-weight: 600;
}
.cards .task-list .left .text-box span {
  margin-left: 1rem;
  color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 0.35rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.cards .task-list .task {
  flex-grow: 1;
  border-bottom: 1px solid #dedede;
  padding: 1rem 0;
}
.cards .task-list .task:hover .right {
  visibility: visible;
}
.cards .task-list .task:hover .indicator {
  filter: brightness(80%);
}
.cards .task-list .task .right {
  gap: 1rem;
  visibility: hidden;
}
.cards .task-list .task .right span {
  padding: 1rem;
  border-radius: 0.35rem;
}
.cards .task-list .task .right span:first-child:hover {
  color: #fff;
  background-color: #3ac47d;
}
.cards .task-list .task .right span:last-child:hover {
  color: #fff;
  background-color: #d92550;
}
.cards .task-list .card-bottom {
  font-size: 1.4rem;
}
.cards .task-list .card-bottom a:hover {
  text-decoration: underline;
}
.cards .task-list .card-bottom button {
  padding: 1rem;
  background-color: #2955c8;
  border-radius: 0.35rem;
  color: #fff;
}
.cards .task-list .card-bottom button:hover {
  filter: brightness(90%);
}
.cards .chatbox .chat-screen {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  overflow-y: scroll;
}
.cards .chatbox .chat-screen::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.cards .chatbox .chat-screen::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #dedede;
}
.cards .chatbox .profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cards .chatbox .profile img {
  width: 4rem;
  height: 4rem;
  border-radius: 0.35rem;
}
.cards .chatbox .receive-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.cards .chatbox .receive-text .message-box p.message {
  padding: 1rem 2rem;
  background-color: #e0f3ff;
  border-radius: 2.5rem;
  border-top-left-radius: 0;
}
.cards .chatbox .receive-text .message-box .message-date {
  gap: 0.5rem;
  padding: 0 1rem;
}
.cards .chatbox .receive-text .message-box .message-date span {
  font-size: 1rem;
}
.cards .chatbox .receive-text .message-box .message-date p {
  font-size: 1rem;
}
.cards .chatbox .send-text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.cards .chatbox .send-text .message-box p.message {
  padding: 1rem 2rem;
  background-color: #e0f3ff;
  border-radius: 2.5rem;
  border-top-right-radius: 0;
}
.cards .chatbox .send-text .message-box .message-date {
  gap: 0.5rem;
  padding: 0 1rem;
}
.cards .chatbox .send-text .message-box .message-date span {
  font-size: 1rem;
}
.cards .chatbox .send-text .message-box .message-date p {
  font-size: 1rem;
}
.cards .chatbox .card-bottom {
  padding: 0 1rem;
}
.cards .chatbox .card-bottom input {
  color: #343a40;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 3rem;
  border: 1px solid #dedede;
  border-radius: 0.35rem;
}
.cards .chatbox .card-bottom input::-moz-placeholder {
  font-size: 1.3rem;
}
.cards .chatbox .card-bottom input::placeholder {
  font-size: 1.3rem;
}
.cards .chatbox .card-bottom input:focus {
  border-color: #a9bcee;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.cards .total-view .total-each {
  flex-grow: 1;
  min-width: 30%;
}
.cards .total-view .total-each .text-box h3 {
  font-weight: 600;
  font-size: 1.6rem;
}
.cards .total-view .total-each .text-box p {
  font-size: 1.4rem;
}
.cards .total-view .total-each h2 {
  font-size: 3rem;
  font-weight: 700;
}

footer {
  background-color: #fafbfc;
  padding: 1rem;
}
footer .left-footer {
  gap: 0;
}
footer .left-footer > *:not(:last-child) {
  border-right: 1px solid #dedede;
}
footer .left-footer span {
  font-size: 3rem;
  padding: 1rem;
  background: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .left-footer span:hover {
  filter: brightness(105%);
}
footer .right-footer a {
  display: flex;
  align-items: center;
  color: #555f78;
  opacity: 0.85;
  font-weight: 300;
  font-size: 1.3rem;
}
footer .right-footer a span:first-child {
  color: #2955c8;
  font-size: 1.8rem;
  opacity: 0.7;
  margin-right: 0.5rem;
}
footer .right-footer a:hover {
  opacity: 1;
}

@media screen and (max-width: 576px) {
  header {
    display: flex;
    justify-content: center;
  }
  header .header-left,
  header .header-right {
    display: none;
  }
  header img {
    display: inline-block;
    height: 100%;
    width: 6rem;
  }
  .analytics-dash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .analytics-dash .left-side span {
    display: none;
  }
  .analytics-dash .left-side .text-box {
    text-align: center;
    margin-bottom: 1rem;
  }
  .cards .card-top {
    justify-content: center;
    flex-direction: column;
  }
  .cards .card-top .flex-start > span {
    display: none;
  }
  .cards .portfolio-performance .card-main {
    flex-direction: column;
    align-items: flex-start;
  }
  .cards .row-2 {
    flex-direction: column;
  }
  .cards .row-4 {
    flex-direction: column;
  }
  .cards .total-view .first,
  .cards .total-view .second {
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
  }
}/*# sourceMappingURL=styles.css.map */